.top {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.desc {
  width: 660px;
  margin: 0 auto;
  text-align: center;
}

.content {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.content img {
  object-fit: cover;
}

.imgLg {
  grid-column: 1;
  grid-row: 1/3;
}

@media screen and (max-width: 768px) {
  .top {
    width: fit-content;
  }
  .desc {
    width: fit-content;
  }
  .content {
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
  }

  .content .imgLg {
    width: 150px;
    height: 300px;
  }

  .content .imgSm {
    height: 150px;
    width: 150px;
  }
}
