.container {
  padding: 40px 0;
  background-color: var(--primary-mid);
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.desc {
  width: 660px;
}

.content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px 30px;
}

.card {
  padding: 20px;

  display: flex;
  align-items: start;
  gap: 20px;

  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.12);
  transition: 0.2s ease-out;
}

.card:hover {
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.12);
}

.cardTitle {
  color: var(--neutral-40);
  font-family: Kufam;
  font-size: var(--text-md);
  font-weight: 600;
}

.cardDesc {
  font-size: var(--text-sm);
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 20px 0;
  }
  .desc {
    width: fit-content;
  }

  .content {
    margin-top: 10px;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .card {
    padding: 10px;
    gap: 10px;
  }
  .cardTitle {
    font-size: var(--text-xs);
    font-weight: 600;
  }
  .cardDesc {
    font-size: var(--text-xs);
    font-weight: 500;
  }
}
