.container {
  background-color: var(--primary-dark);
  padding: 40px 0;
  color: var(--neutral-10);
}

.top {
  display: flex;
}

.footLogo {
  width: 300px;
  margin-right: 40px;
}

.footTxt {
  margin-top: 20px;
  font-size: var(--text-sm);
  font-weight: 600;
}

.menus {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.linkTitle {
  font-size: var(--text-md);
  font-weight: 700;
}

.links {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.links a {
  font-size: var(--text-md);
  font-weight: 500;
}

.links a:hover {
  font-weight: inherit;
}

.divider {
  margin: 25px 0;
  height: 1px;
  background-color: var(--neutral-10);
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom p {
  flex: 1;
  font-size: var(--text-sm);
  font-weight: 600px;
}

.socials {
  width: 200px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.iconContainer {
  width: 36px;
  height: 36px;
  padding: 6px;
  background-color: var(--neutral-10);
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 20px 0;
  }
  .top {
    display: none;
  }
  .divider {
    display: none;
  }

  .bottom {
    gap: 20px;
  }

  .socials {
    width: fit-content;
    gap: 5px;
  }

  .iconContainer {
    width: 28px;
    height: 28px;
    padding: 4px;
  }

  .iconContainer img {
    width: 18px;
    height: 18px;
  }
}
