.container {
  width: 1220px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  gap: 80px;
}

.left {
  width: 295px;
}

.title {
  font-family: "Kufam", sans-serif;
  font-size: 32px;
  font-weight: 700;
}

.desc {
}

.budget {
  width: 165px;
  margin-top: 20px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: var(--primary-light);
}

.textBudget {
  color: var(--primary-dark);
  font-size: 18px;
  line-height: 64%;
}

.right {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
}

.slidesWrapper {
  position: absolute;
  left: 0;
}

.right img {
  height: 70px;
  width: 300px;
  object-fit: contain;
}